body { 
     background-color: rgb(245, 245, 245);
    font-family: Arial, helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
h1  {
      color: black;
    font-size: 100px;
    font-family: Arial;  
}
p {
    color: black;
    font-size: 30px;
    font-family: Arial;  
    text-align: center;   
}  
ul {
    text-align: center;
    padding: 20px;
}